.movie-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .movie-details-container {
    max-width: 60rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .image {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .actors-list {
      display: flex;
      flex-direction: column;
    }
  }
}
