.movie-container {
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 1px 1px #000008;
  margin: 1rem;
  .movie-image {
    width: 50%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .movie-details {
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
