.links_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  .signed_in_links_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
